spring:
  datasource:
    url: jdbc:postgresql://route-db:5432/route_db
    username: postgres
    password: 5558
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  redis:
    host: redis
    port: 6379
    timeout: 6000

  cache:
    type: redis

  data:
    redis:
      repositories:
        enabled: false

server:
  port: 8082

logging:
  level:
    com.travelapp.route: INFO
    org.hibernate.SQL: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always